/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Source code from leaflet-sidebar plugin https://github.com/Turbo87/leaflet-sidebar/ */

@font-face {
  font-family: "HagridVariable";
  src: url("../fonts/Hagrid-Variable.ttf") format("truetype"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HagridVariable";
  src: url("../fonts/Hagrid-Variable.ttf") format("truetype"); /* Modern Browsers */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "HagridVariable";
  src: url("../fonts/Hagrid-Variable.ttf") format("truetype"); /* Modern Browsers */
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "HagridVariable2";
  src: url("../fonts/Hagrid-Variable-trial.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Hagrid-Variable-trial.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Hagrid-Variable-trial.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Hagrid-Variable-trial.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Hagrid-Variable-trial.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Hagrid-Variable-trial.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Hagrid-Variable-trial.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hagrid';
  src: url('../fonts/Hagrid-Text-Bold-trial.eot');
  src: url('../fonts/Hagrid-Text-Bold-trial.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Hagrid-Text-Bold-trial.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Hagrid';
  src: url('../fonts/HagridTextTrial-Bold.svg#HagridTextTrial-Bold') format('svg'),
       url('../fonts/HagridTextTrial-Bold.ttf') format('truetype'),
       url('../fonts/HagridTextTrial-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Hagrid';
  src: url('../fonts/Hagrid-Extrabold-trial.eot');
  src: url('../fonts/Hagrid-Extrabold-trial.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Hagrid-Extrabold-trial.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Hagrid';
  src: url('../fonts/HagridTrial-Extrabold.svg#HagridTrial-Extrabold') format('svg'),
       url('../fonts/HagridTrial-Extrabold.ttf') format('truetype'),
       url('../fonts/HagridTrial-Extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
       url('../fonts/Montserrat-Regular.ttf') format('truetype'),
       url('../fonts/Montserrat-Regular.woff') format('woff'),
       url('../fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.eot');
  src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg'),
       url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
       url('../fonts/Montserrat-SemiBold.woff') format('woff'),
       url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

.leaflet-container {
  font-family: Montserrat, sans-serif;
}

.sidebar-swipe-btn {
  display: none;
}

.leaflet-sidebar {
  position: absolute;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  z-index: 2000;
}
.leaflet-sidebar.left {
  left: -590px;
  -webkit-transition: left 0.5s, width 0.5s;
  -o-transition: left 0.5s, width 0.5s;
  transition: left 0.5s, width 0.5s;
  padding-right: 0;
}
.leaflet-sidebar.left.visible {
  left: 0;
}
.leaflet-sidebar.right {
  right: -500px;
  -webkit-transition: right 0.5s, width 0.5s;
  -o-transition: right 0.5s, width 0.5s;
  transition: right 0.5s, width 0.5s;
  padding-left: 0;
}
.leaflet-sidebar.right.visible {
  right: 0;
}
.leaflet-sidebar > .leaflet-control {
  height: 100%;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.1em;
  background: white;
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
          box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
  border-radius: 20px;
}
.leaflet-touch .leaflet-sidebar > .leaflet-control {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

.leaflet-sidebar .close {
  display: none;
  position: absolute;
  right: 33px;
  top: 26px;
  width: 31px;
  height: 31px;
  color: #333;
  font-size: 20pt;
  line-height: 1.2em;
  text-align: center;
  background: white;
  border-radius: 16px;
  cursor: pointer;
  z-index: 2001;
}

.leaflet-left {
  -webkit-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
}

.leaflet-right {
  -webkit-transition: right 0.5s;
  -o-transition: right 0.5s;
  transition: right 0.5s;
}
/* ======================================== */

#sidebar-app {
  margin: 4rem 0 3rem;
}

#sidebar,
#sidebar-app,
.place-description {
  scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
  -ms-overflow-style: none;  /* Disable scrollbar IE 10+ */
  /* overflow-y: scroll; */
  scrollbar-color: transparent transparent;
}
*::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
}

.main-page {
  margin-top: 3rem;
}

.main-page h2 {
  font-family: HagridVariable, HagridVariable2, Hagrid, sans-serif;
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

#search {
  margin: 0 2rem 3rem;
} 

#search h2 { 
  /* display: none; */
  font-family: HagridVariable, HagridVariable2, Hagrid, sans-serif;
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

#search .leaflet-control-search {
  position: relative;
  width: 100%;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#search .leaflet-control-search .search-button {
  position: absolute;
  top: 2px;
  right: 6px;  
}

#search .leaflet-control-search input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 18px 35px;
  border: 2px solid transparent;
  border-radius: 20px;
  background: #ECECEC;
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

#search .leaflet-control-searchinput:hover,
#search .leaflet-control-search input:focus {
  outline: none;
  border: 2px solid #999;
}

#search .back {
  font-size: 0.8rem;
  color: #7C7C7C;
  padding: 7px;
}
#search .back svg {
  margin-right: 7px;
  margin-top: -2px;
}

.places-list {
  padding: 0;
  margin-bottom: 2rem;
}

.places-list .place {
  display: block;
  height: auto;
  list-style: none;
  margin-bottom: 22px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3)
}

.places-list .place:last-child {
  margin-bottom: 0;
}

.places-list .place-name {
  font-family: HagridVariable, HagridVariable2, Hagrid, sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 800;
  margin-bottom: 1.7rem;
}

.places-list .place-ratings { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  flex-wrap: wrap;
}

.place-ratings .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  flex: 1 0 170px;
}

.place-ratings .rating > div {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0;
}

.place-ratings .rating .value {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: -3px;
  margin-right: 5px;
  margin-bottom: 0.2em;
}

.place-ratings .rating .label {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 0.8rem;
  line-height: 1.2;
  color: #676767;
}

.place-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.place-info .category {
  display: flex;
  align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 1rem;
} 
.place-info .category img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.place-info .category p {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
}
.place-info .category.time {
      flex: 1 0 160px;
}
.place-info .category.time div {
  position: relative;
  top: 0.5rem;
}
.place-info .category.time .label {
  font-weight: normal;
  flex-basis: 100%;
  font-size: 0.8rem;
}
.place-info .category.phone {
  flex: 1 0 165px;
}
.place-info .category.location {
  -ms-flex-preferred-size: 210px;
      flex-basis: 210px;
}


/* ======================================== */
.place-description .wrapper { position: relative; }

.description-logo {
  position: absolute;
  top: 0px;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  background-color: #fff;
}

.description-title {
  margin-left: 130px;
  margin-bottom: 25px;
  font-family: HagridVariable, HagridVariable2, Hagrid, sans-serif;
  font-weight: 800;
  font-size: 2rem;
  line-height: 1.2;
}
.description-text {
  margin-left: 130px;
  font-size: 1rem;
  line-height: 1.2;
  
  display: block;
  display: -webkit-box;
  max-width: 100%;
  margin-bottom: 1rem;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

@media (max-width: 1399px) {
  .description-logo {
    position: static;
  }
  .description-title {
    position: relative;
    margin-left: 0;
  }
  .description-text {
    margin-left: 0;
  }
}

#same-places .ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 1.5rem;
}

.description-rating,
.description-police-rate {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 0 200px;
  margin-bottom: 1rem;
}

.rating-category {
  font-size: 0.8rem;
  line-height: 1.2;
  color: #676767;
  margin: 0;
  flex-basis: 100%;
} 

.rate-value {
  flex-basis: 65px;
  font-size: 2rem;
  line-height: 1.4;
}

.rate-icons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.rate-icons li:first-child {
  margin-left: 5px;
}
.rate-icons li {
  margin: 0;
  padding: 0;
  width: 31px;
  height: 31px;
}

.description-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 3.3rem;
  margin-bottom: 1.8rem;
}

.description-contacts li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 190px;
          flex: 1 0 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 0.9rem;
  font-size: 1rem;
  line-height: 1.2;
}

.description-contacts .image {
  -ms-flex-preferred-size: 35px;
      flex-basis: 35px;
  display: inline-block;
  width: 35px;
  height: 40px;
  margin-right: 20px;
}

.description-contacts .text {
  font-weight: bold;
  -ms-flex-preferred-size: calc(100% - 60px);
      flex-basis: calc(100% - 60px);
  line-height: 1.6;
  margin-bottom: 1rem;
}
.description-contacts .text p {
  margin: 0;
}
.description-contacts .label {
  font-weight: normal;
  flex-basis: 100%;
  font-size: 0.8rem;
}


#place-photos {
  margin-top: 1.8rem;
  margin-bottom: 3rem;
}

#reviews {
  margin-bottom: 3rem;
}

#reviews h2 {
  font-family: HagridVariable, HagridVariable2, Hagrid, sans-serif;
  font-weight: normal;
  margin-bottom: 1rem;
}

.reviews-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.reviews-average-rating {
  display: flex;
  align-items: center;
  flex: 0 0 200px;
}

.reviews-head p {
  font-size: 2rem;
  margin-right: 0.5rem;
  margin-bottom: 0;
}

.ratings {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.ratings > li {
  width: 23px;
  color: #dadada;
}
.ratings > li.star.active {
  color: #F8D108;
}
.ratings > li.warning.active {
  color: #EF5E31;
  filter: drop-shadow(0 0 3px #EF5E31);
}

.reviews-head button {
  flex: 0 0 160px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #0859F5;
  border: none;
  background: none;
}

.user-reviews {
  margin-bottom: 2rem;
}

.review-card {
  padding: 25px 15px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  margin-bottom: 1.6rem;
}

.review-card div {
  display: flex;
  justify-content: space-between;
}

.review-card .name {
  flex: 1 0 100px;
  font-size: 1rem;
  font-weight: bold;
}
.review-card .date {
  flex: 0 0 110px;
  font-size: 1rem;
}
.review-card .text {
  font-size: 1rem;
  line-height: 1.2;
}
.reviews-more {
  display: block;
  width: 35%;
  margin: 0 auto;
  padding: 5px;
  border: 4px solid #0859F5;
  border-radius: 20px;
  background: none;
  font-size: 1rem;
  font-weight: bold;
  color: #0859F5;
}


@media (max-width: 480px) {
  .description-contacts > * { -ms-flex-preferred-size: 100%; flex-basis: 100%; }
}

@media (min-width: 451px) and (max-width: 767px) {
  /* Сайдбар */
  .leaflet-sidebar .close {
    display: block;
  }
  .leaflet-sidebar {
    width: 100%;
    padding: 0;
  }
  .leaflet-sidebar.left.visible ~ .leaflet-left {
    left: 100%;
  }
  .leaflet-sidebar.left {
    left: -100%;
  }
  .leaflet-sidebar.left.visible {
    left: 0;
  }
  .leaflet-sidebar > .leaflet-control {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
  }
  .leaflet-touch .leaflet-sidebar > .leaflet-control {
    border: 0;
  }
  /* Элементы */
  #search {
    width: calc(100% - 115px);
  }
}

@media (min-width: 768px) {
  .leaflet-sidebar {
    min-width: 400px;
    max-width: 727px;
    width: 29vw;
  }
  .leaflet-sidebar.left.visible ~ .leaflet-left {
    left: 29vw;
  }
  .leaflet-sidebar.right.visible ~ .leaflet-right {
    right: 29vw;
  }
}
@media (max-width: 1380px) {
  html { font-size: 16px!important; }
  .leaflet-sidebar.left.visible ~ .leaflet-left {
    left: 400px;
  }
  .rate-icons li {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 24px;
    height: 28px;
  }

  #search {
    margin-left: 20px;
    margin-right: 20px;
  } 
  .main-page .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .place-info .category {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    /* display: flex; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .place-info .category img { margin-right: 15px; }
  .main-page form input { margin-bottom: 1.5rem; }
}

.leaflet-popup-content-wrapper {
  border-radius: 20px;
}
.leaflet-popup-content { 
  min-width: 170px;
  max-width: 270px;
}
.leaflet-popup-content {
  padding: 9px 19px 13px;
  margin: 0;
  font-family: HagridVariable, HagridVariable2, Hagrid, sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2;
}

.leaflet-popup-content > div {
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; */
}

.leaflet-popup-content  p {
  /* -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0; */
  font-size: 1.2rem;
  line-height: 1.2;
  margin-bottom: 0.3rem;
}

.leaflet-popup-content button {
  background: none;
  border: none;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #0859F5;
}
/* .leaflet-popup-content button {
  font-size: 0.95rem;
  vertical-align: middle;
  height: 52px;
  border: none;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin: 1px;
}
.leaflet-popup-content button:hover {
  background-color: #ddd;
}
.leaflet-popup-content .leaflet-route-start {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.leaflet-popup-content .leaflet-route-get-here {
  -ms-flex-preferred-size: calc(50% - 6px);
      flex-basis: calc(50% - 6px);
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.leaflet-popup-content .leaflet-route-go{
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
} */


.leaflet-container a.leaflet-popup-close-button {
  top: 7px;
  right: 20px;
  display: none;
}
.leaflet-control-layers-expanded {
  padding: 7px 10px 1px 6px;
}

.leaflet-routing-geocoders .popUp {
  display: none;
  position: absolute;
  top: 11px;
  left: 50%;
  background-color: #eee;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 0;
}
.leaflet-routing-geocoders .popUp button {
  font-family: Montserrat, sans-serif;
  font-size: 0.9rem;
  line-height: 2;
  font-weight: normal;
  background: none;
  width: 6.5rem;
}
.leaflet-routing-geocoders .popUp button:hover,
.leaflet-routing-geocoders .popUp button:focus {
  font-weight: bold;
  outline: none;
}

#events { 
  position: relative;
  margin-bottom: 2.5rem;
}

#events h2 {
  font-family: HagridVariable, HagridVariable2, Hagrid, sans-serif;
  font-weight: normal;
  margin-bottom: 30px;
}

#events ul {
  list-style: none;
  padding: 0;
}

#events li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 20px;
}

#events li:last-child {
  margin-bottom: 0;
}

#events li .event-date {
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
      flex-shrink: 0;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: bold;
}
#events li .event-name {
  -ms-flex-preferred-size: calc(100% - 180px);
      flex-basis: calc(100% - 180px);
  font-size: 1rem;
  line-height: 1.2;
}
#events li .event-time {
  -ms-flex-preferred-size: 110px;
      flex-basis: 110px;
  flex-shrink: 0;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: bold;
}

#same-places {
  position: relative;
  margin-bottom: 2.5rem;
}

#same-places h2 {
  font-family: HagridVariable, HagridVariable2, Hagrid, sans-serif;
  font-weight: normal;
  margin-bottom: 30px;
}

#same-places > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}

#same-places .place-card {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 253px;
  margin: 7px 10px;
  border-radius: 20px;
  box-shadow: 0 0 9px #ddd;
}

#same-places .place-card:last-of-type {
  margin-right: 20px;
}

#same-places .place-card .place-image {
  width: 100%;
  height: 180px;
  background: #DEDEDE;
  border-radius: 10px 10px 0 0;
  margin-bottom: 1rem;
}

#same-places .place-card .place-title {
  font-weight: 800;
  line-height: 2.5rem;
  font-family: HagridVariable, HagridVariable2, Hagrid, sans-serif;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

#same-places .rating-category {
  flex-basis: 50%;
  display: flex;
}

#same-places .rating-category img {
  margin-right: 0.5rem;
}

#same-places .rate-value {
  position: static;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #000;
}

#same-places .category {
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;
}
#same-places .category:last-of-type {
  margin-bottom: 25px;
}
#same-places .category .image {
  flex: 1 0 30px;
  margin-right: 10px;
}
#same-places .category .text {
  flex: 1 1 calc(100% - 40px);
}

#same-places .category .text .info {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}


@media (max-width: 450px) {
  html { font-size: 14px!important; }
  .leaflet-sidebar {
    padding: 0 12px;
  }
  .leaflet-sidebar.left.visible ~ .leaflet-left,
  .leaflet-left {
    top: 5px;
    left: 5px;
  }
  .leaflet-sidebar.left .leaflet-control {
    overflow: hidden;
  }
  .leaflet-sidebar.left.visible .leaflet-control {
    overflow: scroll;
  }
  .leaflet-sidebar.left {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding-right: 0;
    left: 0;
    width: calc(100% - 12px);
    bottom: 0;
    height: 115px;
  }
  .leaflet-sidebar.left.visible {
    left: 0;
    height: 60vh;
  }

  .leaflet-sidebar .sidebar-swipe-btn {
    display: block;
    position: absolute;
    top: 1px;
    padding: 1px;
    left: 30%;
    width: 40%;
    background-clip: padding-box;
    background-color: #000;
    border: 15px solid transparent;
  }
  .sidebar-swipe-btn:focus {
    outline: 1px dotted #666;
  }
  .leaflet-sidebar > .leaflet-control {
    border-radius: 25px 25px 0 0;
    -webkit-border-radius: 25px 25px 0 0;
  }

  .leaflet-touch .leaflet-sidebar > .leaflet-control {
    border: 0;
  }
  .leaflet-routing-container, .leaflet-routing-error {
    width: calc(100% - 12px);
  }
  .leaflet-routing-collapsible .leaflet-routing-geocoders {
    margin-top: 0;
  }
  .leaflet-routing-geocoder {
    margin: -5px 10px;
  }
  .leaflet-routing-geocoder:nth-child(2) {
    margin-bottom: 0px;
  }
  .leaflet-routing-geocoders h4 {
    margin: 18px;
  }
  .leaflet-bottom .leaflet-bar {
    margin-bottom: 83px;
  }
  .leaflet-geocoders-toggler {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    -webkit-box-shadow: 0 0 9px #666;
            box-shadow: 0 0 9px #666;
    -moz-box-shadow: 0 0 9px #666;
  }
  .leaflet-geocoders-toggler svg {
    width: 50px;
  }

  #search {
    margin-left: 20px;
    margin-right: 20px;
  } 
  .main-page .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .place-info .category {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    /* display: flex; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .place-info .category img { margin-right: 15px; }
  .main-page form input { margin-bottom: 1.5rem; }
  .description-title {
    margin-left: 0;
    font-size: 1.8rem;
    line-height: 30px;
  }
  .description-logo {
    width: auto;
    height: auto;
  }
  .description-text {
    margin-left: 0;
    margin-top: 20px;
    font-size: 1rem;
  }
  #events li .event-date {
    -ms-flex-preferred-size: 30px;
        flex-basis: 30px;
  }
  #events li .event-name {
    -ms-flex-preferred-size: calc(100% - 120px);
        flex-basis: calc(100% - 120px);
  }
  #events li .event-time {
    -ms-flex-preferred-size: 90px;
        flex-basis: 90px;
  }
  .leaflet-popup-content {
    width: 250px;
  }
  .leaflet-routing-geocoders .btnClose {
    top: 10px;
    right: 15px;
  }
  .leaflet-routing-geocoder > p {
    margin-right: 10px;
  }
  .leaflet-routing-geocoders input {
    padding: 5px 20px 5px 7px;
  }
  .leaflet-routing-remove-waypoint:after {
    right: -4px;
  }
  .leaflet-bottom .leaflet-bar a, .leaflet-bottom .leaflet-bar a:hover {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .leaflet-routing-geocoder > input {
  -ms-flex-preferred-size: calc(100% - 70px);
      flex-basis: calc(100% - 70px);
  }
  .leaflet-routing-geocoders .leaflet-routing-reverse-waypoints {
    right: -3px;
    top: 44%;
  }
  .reviews-average-rating .ratings li {
    display: none;
  }
  .reviews-average-rating .ratings li:first-child {
    display: block;
  }
  .reviews-average-rating {
    flex: 0 0 80px;
  }
  .reviews-more {
    width: 50%;
  }
  .leaflet-popup-content {
    min-width: 150px;
    max-width: 220px;
    padding: 7px 10px 8px;
  }
  .leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
    font-size: 11px;
    width: 200px;
  }
}

@media (max-width: 1910px) {
  .rate-icons li {
    width: 24px;
    height: 28px;
  }
  .rate-icons.stars li {
    /* background: url("../img/Star-small.png") no-repeat; */
  }
  .rate-icons.warnings li {
    /* background: url("../img/Police-small.png") no-repeat; */
  }
  .rate-icons li.active {
    background-position: -24px 0;
  }
}