/* Source code from leaflet-sidebar plugin https://github.com/Turbo87/leaflet-sidebar/ */

.leaflet-sidebar {
  position: absolute;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  z-index: 2000;
}
.leaflet-sidebar.left {
  left: -700px;
  transition: left 0.5s, width 0.5s;
  padding-right: 0;
}
.leaflet-sidebar.left.visible {
  left: 0;
}
.leaflet-sidebar.right {
  right: -500px;
  transition: right 0.5s, width 0.5s;
  padding-left: 0;
}
.leaflet-sidebar.right.visible {
  right: 0;
}
.leaflet-sidebar > .leaflet-control {
  height: 100%;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.1em;
  background: white;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
  -webkit-border-radius: 4px;
  border-radius: 20px;
}
.leaflet-touch .leaflet-sidebar > .leaflet-control {
  box-shadow: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

.leaflet-sidebar .close {
  position: absolute;
  right: 33px;
  top: 26px;
  width: 31px;
  height: 31px;
  color: #333;
  font-size: 20pt;
  line-height: 1.2em;
  text-align: center;
  background: white;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  cursor: pointer;
  z-index: 2001;
}

.leaflet-left {
  transition: left 0.5s;
}

.leaflet-right {
  transition: right 0.5s;
}
/* ======================================== */

.main-page {}

.main-page .wrapper {
  padding-left: 40px;
  padding-right: 40px;
}

.main-page h2 {
  margin-bottom: 1.5rem;
}

#searchPlace {
  width: 100%;
  padding: 11px 15px;
  border: 2px solid transparent;
  border-radius: 20px;
  background: #ECECEC;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 3rem;
}

#searchPlace:hover,
#searchPlace:focus {
  outline: none;
  border: 2px solid #999;
}

.places-list {
  padding: 0;
}

.places-list .place {
  justify-content: space-between;
  display: flex;
  margin-bottom: 22px;
  padding: 15px 15px;
  border-radius: 20px;
  background: #ECECEC;
}

.laces-list .place:last-child {
  margin: 0;
}

.places-list .place > * {
  width: 100%;
  margin: 0;
  flex-grow: 0;
  font-size: 20px;
  line-height: 20px;
}

.places-list .place-name {
  flex-basis: calc(100% - 150px);
}
.places-list .place-rating {
  position: relative;
  flex-basis: 30px;
  margin-right: 30px;
}
.places-list .place-rating:after {
  content: "";
  position: absolute; 
  left: 35px;
  width: 20px;
  height: 20px;
  background: url("../img/Star-19.png") no-repeat;
  background-position: -19px 0px;
}

.places-list .place-police-rate {
  position: relative;
  flex-basis: 30px;
  margin-right: 30px;
}
.places-list .place-police-rate:after {
  content: "";
  position: absolute; 
  left: 35px;
  width: 20px;
  height: 20px;
  background: url("../img/Police-19.png") no-repeat;
  background-position: -19px 0px;
}
/* ======================================== */
.description-logo {
  position: absolute;
  top: 50px;
  left: 20px;
  width: 100px;
  height: 100px;
  background-color: #999;
}

.description-title {
  margin-left: 120px;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}
.description-text {
  margin-left: 120px;
  font-size: 18px;
  line-height: 1.2;
  
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 62px;
  margin-bottom: 34px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.description-address {}
.description-address-pinyin {}

.ratings {
  display: flex;
  justify-content: space-around;
}

.description-rating {
  flex-basis: 55%;
}
.description-police-rate {
  flex-basis: 45%;
}

.rating-category {
  font-size: 17px;
  line-height: 23px;
  color: #676767;
} 

.rate-value {
  position: relative;
  top: -3px;
  font-size: 36px;
  line-height: 45px;
  color: #C4C4C4;
}

.rate-icons {
  display: inline-block;
  list-style: none;
  margin-left: 0;
  margin-bottom: 10px;
  padding: 0;
}

.rate-icons li {
  margin: 0;
  margin-left: -2px;
  padding: 0;
  display: inline-block;
  width: 35px;
  height: 35px;
}

.rate-icons li:first-child {
  margin-left: 5px;
}

.rate-icons.stars li {
  background: url("../img/Star.png") no-repeat;
}
.rate-icons.warnings li {
  background: url("../img/Police.png") no-repeat;
}
.rate-icons li.active {
  background-position: -35px 0;
}

.place-description {
  padding-top: 50px;
  padding-bottom: 50px;
}

hr {
  border: 1px solid #c4c4c4;
}

.description-contacts {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-bottom: 50px;
}

.description-contacts li {
  display: flex;
  align-items: baseline;
  flex-basis: 50%;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 23px;
}

.description-contacts div {
  flex-basis: 35px;
  position: relative;
  top: 12px;
  display: inline-block;
  background: url("../img/contact-icons.png") no-repeat;
  width: 35px;
  height: 40px;
  margin-right: 20px;
}

.description-contacts p {
  flex-basis: calc(100% - 60px);
}

.description-contacts .icon-place {
  background-position: 0 0; }
.description-contacts .icon-time {
  background-position: -35px 0; }
.description-contacts .icon-price {
  background-position: -70px 0; }
.description-contacts .icon-phone {
  background-position: -105px 0; }


#place-photos {
  margin-bottom: 70px;
}

#reviews {
  padding: 40px 0;
}

#reviews h2,
#reviews .user-reviews .review-card,
#reviews .reviews-controls {
  padding-left: 22px;
  padding-right: 22px;
}

#reviews .average-rating {
  margin-left: 50px;
  color: #868686;
}

.review-card {
  background-color: #F7F7F7;
}

.review-card > * {
  display: flex;
  justify-content: space-between;
  margin: 17px 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.review-card .user-avatar {
  flex-basis: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #666;
}

.review-card .user-review {
  flex-basis: calc(100% - 70px);
}

.review-card .user-review .name {
  font-size: 18px;
  font-weight: bold;
}

.review-card .user-review .text {
  font-size: 18px;
  line-height: 23px;
}

.reviews-controls .reviews-write { 
  width: 191px;
  height: 41px;
  font-size: 18px;
  background: #C4C4C4;
  border: none;
  border-radius: 19px;
}

.reviews-controls .reviews-write:hover {
  border: 1px solid black;
  opacity: 0.8;
}

.reviews-controls #reviews-pages {
  float: right;
}

.reviews-controls #reviews-pages a{
  margin-left: 5px;
  text-decoration: none;
  font-size: 24px;
  line-height: 31px;
  color: #868686;
}

.reviews-controls #reviews-pages a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  /* Сайдбар */
  .leaflet-sidebar {
    width: 100%;
    padding: 0;
  }
  .leaflet-sidebar.left.visible ~ .leaflet-left {
    left: 100%;
  }
  .leaflet-sidebar.right.visible ~ .leaflet-right {
    right: 100%;
  }
  .leaflet-sidebar.left {
    left: -100%;
  }
  .leaflet-sidebar.left.visible {
    left: 0;
  }
  .leaflet-sidebar.right {
    right: -100%;
  }
  .leaflet-sidebar.right.visible {
    right: 0;
  }
  .leaflet-sidebar > .leaflet-control {
    box-shadow: none;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  .leaflet-touch .leaflet-sidebar > .leaflet-control {
    border: 0;
  }
  /* Элементы */

}

@media (min-width: 768px) {
  .leaflet-sidebar {
    min-width: 450px;
    width: 36vw;
  }
  .leaflet-sidebar.left.visible ~ .leaflet-left {
    left: 36vw;
  }
  .leaflet-sidebar.right.visible ~ .leaflet-right {
    right: 36vw;
  }
}

@media (max-width: 1599px) {
  .rate-value {
    font-size: 30px;
    line-height: 36px;
  }
  .rate-icons li {
    width: 30px;
    height: 30px;
  }
  .rate-icons.stars li {
    background: url("../img/Star-small.png") no-repeat;
  }
  .rate-icons.warnings li {
    background: url("../img/Police-small.png") no-repeat;
  }
  .rate-icons li.active {
    background-position: -30px 0;
  }
  .rating-category {
    font-size: 16px;
  }
}


.leaflet-popup-content {
  width: 300px;
}
.leaflet-popup-content button {
  font-size: 17px;
  display: inline-block;
  vertical-align: middle;
  width: calc(32% - 2px);
  height: 54px;
  border: none;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 1px;
}
.leaflet-popup-content button:hover {
  background-color: #ddd;
}
.leaflet-container a.leaflet-popup-close-button {
  top: 3px;
  right: 5px;
}
.leaflet-control-layers-expanded {
  padding: 7px 10px 1px 6px;
}


#facts h2 {
  margin-bottom: 30px;
}

#facts ul {
  list-style: none;
  padding: 0;

}

#facts ul li {
  position: relative;
  font-size: 18px;
  line-height: 23px;
  margin-left: 40px;
  margin-bottom: 20px;
}

#facts ul li:last-child {
  margin-bottom: 0;
}

#facts ul li::before {
  content: "";
  position: absolute;
  left: -40px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #C4C4C4;
}


#same-places h2 {
  margin-bottom: 30px;
}

#same-places > ul {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}

#same-places .place-card {
  flex: 0 0 auto;
  /* display: inline-block; */
  width: 200px;
  padding: 25px;
  margin: 0 10px;
  background: #F7F7F7;
  border-radius: 46px;
}

#same-places .place-card .place-image {
  width: 100%;
  height: 150px;
  background: #DEDEDE;
  border-radius: 46px;
  margin-bottom: 10px;
}

#same-places .place-card .place-title {
  font-weight: bold;
  line-height: 40px;
}

#same-places .ratings {
  display: block;
}

#same-places .rate-value {
  position: relative;
  top: -6px;
  font-size: 18px;
  line-height: 23px;
  color: #C4C4C4;
}

#same-places .rate-icons {
  display: inline-block;
  list-style: none;
  margin-left: 0;
  padding: 0;
}

#same-places .rate-icons li {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 19px;
  height: 18px;
}

#same-places .rate-icons li:first-child {
  margin-left: 5px;
}

#same-places .rate-icons.stars li {
  background: url("../img/Star-19.png") no-repeat;
}
#same-places .rate-icons.warnings li {
  background: url("../img/Police-19.png") no-repeat;
}
#same-places .rate-icons li.active {
  background-position: -19px 0;
}