{% extends 'base.html' %}
{% block sidebar %}
  <div id="sidebar">
    <button class="sidebar-swipe-btn" onclick="sidebarToggle()"></button>
    <div id="sidebar-app">
      <div id="search"></div>

      <!--================Top places list start =================-->
      <div v-if="promptVisible" class="main-page">
        <div class="wrapper">
          {% verbatim top_places %}
          <ul class="places-list" v-for="place in topPlaces">
            <li class="place" type="button" v-on:click="loadClickedPlace(place)">
              <p class="place-name">{{ place.title }}</p>
              <div class=place-ratings>
                <div class="rating">
                  <div>
                    <p class="value">{{ place.rating }}</p>
                    <ul class="ratings">
                      <template v-for="star in place.ratingRounded">
                        <li class="star active">
                          <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M10.5516 1.23574C10.8561 0.325346 12.1439 0.325347 12.4484 1.23574L14.3026 6.77934C14.439 7.18719 14.8209 7.46214 15.2509 7.46214H21.1882C22.1639 7.46214 22.562 8.71651 21.7648 9.27915L17.0118 12.6337C16.6511 12.8883 16.5 13.3493 16.6401 13.7679L18.4673 19.2308C18.7737 20.147 17.7316 20.9221 16.9423 20.365L12.0766 16.9309C11.7309 16.6869 11.2691 16.6869 10.9234 16.9309L6.05773 20.365C5.2684 20.9221 4.22628 20.147 4.53274 19.2307L6.35992 13.7679C6.49996 13.3493 6.34888 12.8883 5.98819 12.6337L1.23518 9.27914C0.438008 8.71651 0.836087 7.46214 1.81182 7.46214H7.74908C8.17913 7.46214 8.56103 7.18719 8.69744 6.77934L10.5516 1.23574Z"
                              fill="currentColor" />
                          </svg>
                        </li>
                      </template>
                      <template v-for="inactiveStar in 5" v-if="inactiveStar > place.ratingRounded">
                        <li class="star">
                          <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.5516 1.23574C10.8561 0.325346 12.1439 0.325347 12.4484 1.23574L14.3026 6.77934C14.439 7.18719 14.8209 7.46214 15.2509 7.46214H21.1882C22.1639 7.46214 22.562 8.71651 21.7648 9.27915L17.0118 12.6337C16.6511 12.8883 16.5 13.3493 16.6401 13.7679L18.4673 19.2308C18.7737 20.147 17.7316 20.9221 16.9423 20.365L12.0766 16.9309C11.7309 16.6869 11.2691 16.6869 10.9234 16.9309L6.05773 20.365C5.2684 20.9221 4.22628 20.147 4.53274 19.2307L6.35992 13.7679C6.49996 13.3493 6.34888 12.8883 5.98819 12.6337L1.23518 9.27914C0.438008 8.71651 0.836087 7.46214 1.81182 7.46214H7.74908C8.17913 7.46214 8.56103 7.18719 8.69744 6.77934L10.5516 1.23574Z"
                                fill="currentColor" />
                          </svg>
                        </li>
                      </template>
                    </ul>
                  </div>
                  <p class="label">{{ place.ratingStatus }}</p>
                </div>
                <div class="rating">
                  <div>
                    <p class="value">{{ place.policeRating }}</p>
                    <ul class="ratings">
                      <template v-for="siren in place.policeRating">
                        <li class="warning active">
                          <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M3.8877 8.40058C3.8877 3.76107 7.64877 0 12.2883 0C16.9278 0 20.6889 3.76107 20.6889 8.40058V13.121C20.6889 14.2256 19.7934 15.121 18.6889 15.121H5.8877C4.78313 15.121 3.8877 14.2256 3.8877 13.121V8.40058Z"
                              fill="currentColor" />
                            <rect x="0.527344" y="17.2949" width="23.4722" height="3.70614" rx="1.85307" fill="currentColor" />
                          </svg>
                        </li>
                      </template>
                      <template v-for="inactiveSiren in 5" v-if="inactiveSiren > place.policeRating">
                        <li class="warning">
                          <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M3.8877 8.40058C3.8877 3.76107 7.64877 0 12.2883 0C16.9278 0 20.6889 3.76107 20.6889 8.40058V13.121C20.6889 14.2256 19.7934 15.121 18.6889 15.121H5.8877C4.78313 15.121 3.8877 14.2256 3.8877 13.121V8.40058Z"
                                fill="currentColor" />
                            <rect x="0.527344" y="17.2949" width="23.4722" height="3.70614" rx="1.85307" fill="currentColor" />
                          </svg>
                        </li>
                      </template>
                    </ul>
                  </div>
                  <p class="label">{{ place.policeRatingStatus }}</p>
                </div>
              </div>
              <div class="place-info">
                <div class="category time">
                  <img src="../static/img/contacts-time.svg" alt="">
                  <div>
                    <p>{{ getBusinessHours(place.openingHours, place.closingHours) }}</p>
                    <p class="label" v-if="checkIfPlaceOpen(place.openingHours, place.closingHours)">Open now</p>
                    <p class="label" v-else>Closed now</p>
                  </div>
                </div>
                <div class="category phone">
                  <img src="../static/img/contacts-phone.svg" alt="">
                  <p>{{ place.phoneNumber }}</p>
                </div>
                <div class="category location">
                  <img src="../static/img/contacts-marker.svg" alt="">
                  <p>{{ place.address }}</p>
                </div>
              </div>
            </li>
          </ul>
          {% endverbatim top_places %}
          <button class="reviews-more">More</button>
        </div>
      </div>
      <!--================Top places list end =================-->


      <div class="align-items-center justify-content-center d-flex" v-if="loading" style="height: 100%;">
        <div class="spinner-grow text-light" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <!--================ Selected place start =================-->
      <div class="place-description" v-if="selectedPlace">
        <div class="wrapper">
          {% verbatim sidebar %}
          <div class="description-logo">
            <img v-bind:src="selectedPlace.logo" v-bind:alt="selectedPlace.title">
          </div>
          <h5 class="description-title" class="mb-3">{{ selectedPlace.title }}</h5>
          <p class="description-text">{{ selectedPlace.description }}</p>

          <ul class="description-contacts">
            <li>
              <div class="image">
                <img src="../static/img/contacts-time.svg" alt="">
              </div>
              <div class="text">
                <p>{{ selectedPlace.businessHours }}</p>
                <p class="label" v-if="placeIsOpen">Open now</p>
                <p class="label" v-else>Closed now</p>
              </div>
            </li>
            <li>
              <div class="image">
                <img src="../static/img/contacts-card.svg" alt="">
              </div>
              <div class="text">
                <p v-if="selectedPlace.averagePrice !== 0">¥{{ selectedPlace.averagePrice }}</p>
                <p v-else>-</p>
                <p class="label">Average price</p>
              </div>
            </li>
            <li>
              <div class="image">
                <img src="../static/img/contacts-marker.svg" alt="">
              </div>
              <div class="text">
                <p>{{ selectedPlace.address }}</p>
              </div>
            </li>
            <li>
              <div class="image">
                <img src="../static/img/contacts-phone.svg" alt="">
              </div>
              <div class="text">
                <p>{{ selectedPlace.phoneNumber }}</p>
              </div>
            </li>
          </ul>

          <div class="ratings">
            <div class="description-rating">
              <span class="rate-value">{{ selectedPlace.rating }}</span>
              <ul class="rate-icons stars">
                <template v-for="star in selectedPlace.ratingRounded">
                  <li class="active">
                    <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M10.5516 1.23574C10.8561 0.325346 12.1439 0.325347 12.4484 1.23574L14.3026 6.77934C14.439 7.18719 14.8209 7.46214 15.2509 7.46214H21.1882C22.1639 7.46214 22.562 8.71651 21.7648 9.27915L17.0118 12.6337C16.6511 12.8883 16.5 13.3493 16.6401 13.7679L18.4673 19.2308C18.7737 20.147 17.7316 20.9221 16.9423 20.365L12.0766 16.9309C11.7309 16.6869 11.2691 16.6869 10.9234 16.9309L6.05773 20.365C5.2684 20.9221 4.22628 20.147 4.53274 19.2307L6.35992 13.7679C6.49996 13.3493 6.34888 12.8883 5.98819 12.6337L1.23518 9.27914C0.438008 8.71651 0.836087 7.46214 1.81182 7.46214H7.74908C8.17913 7.46214 8.56103 7.18719 8.69744 6.77934L10.5516 1.23574Z"
                        fill="#F8D108" />
                    </svg>
                  </li>
                </template>
                <template v-for="inactiveStar in 5" v-if="inactiveStar > selectedPlace.ratingRounded">
                  <li class="description-rating-stars">
                    <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M10.5516 1.23574C10.8561 0.325346 12.1439 0.325347 12.4484 1.23574L14.3026 6.77934C14.439 7.18719 14.8209 7.46214 15.2509 7.46214H21.1882C22.1639 7.46214 22.562 8.71651 21.7648 9.27915L17.0118 12.6337C16.6511 12.8883 16.5 13.3493 16.6401 13.7679L18.4673 19.2308C18.7737 20.147 17.7316 20.9221 16.9423 20.365L12.0766 16.9309C11.7309 16.6869 11.2691 16.6869 10.9234 16.9309L6.05773 20.365C5.2684 20.9221 4.22628 20.147 4.53274 19.2307L6.35992 13.7679C6.49996 13.3493 6.34888 12.8883 5.98819 12.6337L1.23518 9.27914C0.438008 8.71651 0.836087 7.46214 1.81182 7.46214H7.74908C8.17913 7.46214 8.56103 7.18719 8.69744 6.77934L10.5516 1.23574Z"
                        fill="#dadada" />
                    </svg>
                  </li>
                </template>
              </ul>
              <p class="rating-category">{{ selectedPlace.ratingStatus }}
              </p>
            </div>
            <div class="description-police-rate">
              <span class="rate-value">{{ selectedPlace.policeRatingValue }}.0</span>
              <ul class="rate-icons warnings">
                <template v-for="siren in selectedPlace.policeRatingValue">
                  <li class="active">
                    <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M3.8877 8.40058C3.8877 3.76107 7.64877 0 12.2883 0C16.9278 0 20.6889 3.76107 20.6889 8.40058V13.121C20.6889 14.2256 19.7934 15.121 18.6889 15.121H5.8877C4.78313 15.121 3.8877 14.2256 3.8877 13.121V8.40058Z"
                        fill="#EF5E31" />
                      <rect x="0.527344" y="17.2949" width="23.4722" height="3.70614" rx="1.85307" fill="#EF5E31" />
                    </svg>
                  </li>
                </template>
                <template v-for="inactiveSiren in 5" v-if="inactiveSiren > selectedPlace.policeRatingValue">
                  <li class="description-rating-warnings">
                    <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M3.8877 8.40058C3.8877 3.76107 7.64877 0 12.2883 0C16.9278 0 20.6889 3.76107 20.6889 8.40058V13.121C20.6889 14.2256 19.7934 15.121 18.6889 15.121H5.8877C4.78313 15.121 3.8877 14.2256 3.8877 13.121V8.40058Z"
                        fill="#dadada" />
                      <rect x="0.527344" y="17.2949" width="23.4722" height="3.70614" rx="1.85307" fill="#dadada" />
                    </svg>
                  </li>
                </template>
              </ul>
              <p class="rating-category">{{ selectedPlace.policeRating }}</p>
            </div>
          </div>
          {% endverbatim sidebar %}
        </div>
        
        <div id="place-photos" class="carousel slide" data-ride="carousel" data-interval="5000">
          <ol class="carousel-indicators">
            <template v-for="(img, index) in carouselImages" :key="img">
              <li v-on:click="handlePhotosClick(index)" v-bind:class="{active: index==0}"></li>
            </template>
          </ol>
          <div class="carousel-inner">
            <template v-for="(img, index) in carouselImages" :key="img">
              <div v-bind:class="{'carousel-item bg-light': 1, active: index==0}">
                <img v-bind:src="img" class="d-block w-100" v-bind:alt="selectedPlace.title">
              </div>
            </template>
          </div>
          <template v-if="carouselImages.length">
            <a class="carousel-control-prev" v-on:click="handlePhotosClick('prev')" role="button">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" v-on:click="handlePhotosClick('next')" role="button">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </template>
        </div>

        {% verbatim events %}
        <section id="events">
          <div class="wrapper">
            <h2>Events</h2>
            <ul>
              <template v-for="event in selectedPlace.events">
                <li>
                  <p class="event-date">{{ event.date }}</p>
                  <p class="event-name">{{ event.title }}</p>
                  <p class="event-time">{{ event.time_from }} - {{ event.time_till }}</p>
                </li>
              </template>
            </ul>
          </div>
        </section>
        {% endverbatim events %}

        {% verbatim similar_places %}
        <section id="same-places">
          <div class="wrapper">
            <h2>Other {{selectedPlace.category}}s</h2>
          </div>
          <ul id="places-list" onmouseover="addScroll(event)">
            <li class="place-card" v-for="place in selectedPlace.similarPlaces">
              <div type="button" v-on:click="loadClickedPlace(place)">
                <div class="place-image">
                  <img v-bind:src="place.logo" v-bind:alt="place.title">
                </div>
                <div class="wrapper">
                  <h5 class="place-title">{{ place.title }}</h5>
                  <div class="ratings">
                    <div class="rating-category">
                      <img src="../static/img/rating-star.svg" alt="">
                      <span class="rate-value">{{ place.rating }}</span>
                    </div>
                    <div class="rating-category">
                      <img src="../static/img/rating-warning.svg" alt="">
                      <span class="rate-value">{{ place.policeRating }}</span>
                    </div>
                  </div>
                  <div class="contacts">
                    <div class="category">
                      <div class="image">
                        <img src="../static/img/contacts-time.svg" alt="">
                      </div>
                      <div class="text">
                        <p class="info">{{ getBusinessHours(place.openingHours, place.closingHours) }}</p>
                        <p class="label" v-if="checkIfPlaceOpen(place.openingHours, place.closingHours)">Open now</p>
                        <p class="label" v-else>Closed now</p>
                      </div>
                    </div>
                    <div class="category">
                      <div class="image">
                        <img src="../static/img/contacts-marker.svg" alt="">
                      </div>
                      <div class="text">
                        <p class="info">{{ place.address }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </section>
        {% endverbatim similar_places %}

        {% verbatim reviews %}
        <section id="reviews">
          <div class="wrapper">
            <h2>Reviews</h2>
            <div class="reviews-head">
              <div class="reviews-average-rating">
                <p class="">{{ selectedPlace.rating }}</p>
                <ul class="ratings">
                  <template v-for="star in selectedPlace.ratingRounded">
                    <li class="star active">
                    <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M10.5516 1.23574C10.8561 0.325346 12.1439 0.325347 12.4484 1.23574L14.3026 6.77934C14.439 7.18719 14.8209 7.46214 15.2509 7.46214H21.1882C22.1639 7.46214 22.562 8.71651 21.7648 9.27915L17.0118 12.6337C16.6511 12.8883 16.5 13.3493 16.6401 13.7679L18.4673 19.2308C18.7737 20.147 17.7316 20.9221 16.9423 20.365L12.0766 16.9309C11.7309 16.6869 11.2691 16.6869 10.9234 16.9309L6.05773 20.365C5.2684 20.9221 4.22628 20.147 4.53274 19.2307L6.35992 13.7679C6.49996 13.3493 6.34888 12.8883 5.98819 12.6337L1.23518 9.27914C0.438008 8.71651 0.836087 7.46214 1.81182 7.46214H7.74908C8.17913 7.46214 8.56103 7.18719 8.69744 6.77934L10.5516 1.23574Z"
                        fill="currentColor" />
                    </svg>
                  </template>
                  <template v-for="inactiveStar in 5" v-if="inactiveStar > selectedPlace.ratingRounded">
                    <li class="star">
                      <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M10.5516 1.23574C10.8561 0.325346 12.1439 0.325347 12.4484 1.23574L14.3026 6.77934C14.439 7.18719 14.8209 7.46214 15.2509 7.46214H21.1882C22.1639 7.46214 22.562 8.71651 21.7648 9.27915L17.0118 12.6337C16.6511 12.8883 16.5 13.3493 16.6401 13.7679L18.4673 19.2308C18.7737 20.147 17.7316 20.9221 16.9423 20.365L12.0766 16.9309C11.7309 16.6869 11.2691 16.6869 10.9234 16.9309L6.05773 20.365C5.2684 20.9221 4.22628 20.147 4.53274 19.2307L6.35992 13.7679C6.49996 13.3493 6.34888 12.8883 5.98819 12.6337L1.23518 9.27914C0.438008 8.71651 0.836087 7.46214 1.81182 7.46214H7.74908C8.17913 7.46214 8.56103 7.18719 8.69744 6.77934L10.5516 1.23574Z"
                          fill="currentColor" />
                      </svg>
                    </li>
                  </template>
                </ul>
              </div>
              
              <button>Write review</button>
            </div>  
            <div class="user-reviews">
              <template v-for="review in selectedPlace.reviews">
                <div class="review-card">
                  <div>
                    <p class="name">{{ review.username }}</p>
                    <p class="date">{{ review.publishing_date }}</p>
                  </div>
                  <p class="text">{{ review.text }}</p>
                </div>
              </template>            
            </div>
            <button class="reviews-more">More</button>
          </div>
        </section>
        {% endverbatim reviews %}
        
      </div>
      <!--================ Selected place end =================-->

    </div>
  </div>
{% endblock %}