<!DOCTYPE html>
{% load static %}
{% load rest_framework %}
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Куда пойти</title>

  <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/png">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
  
  <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/@ansur/leaflet-pulse-icon@0.1.1/dist/L.Icon.Pulse.css">

  <!-- Без них функционал не ломается -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Пульсация маркера местоположения пользлвателя  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.72.0/dist/L.Control.Locate.min.css" />
  <!------------------------------------>

  <link rel="stylesheet" href="{% static 'css/leaflet-routing-machine.css' %}" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
  <link rel="stylesheet" href="{% static 'css/leaflet-search.css' %}" />
  <link rel="stylesheet" href="{% static 'css/leaflet-sidebar.css' %}" />
  <link rel="stylesheet" href="{% static 'css/base.css' %}"/>

  {{ places_geojson|json_script:"places-geojson" }}

</head>
<body>
  <!-- <a href="">Войти</a> -->
  <button id ="form-section-show" class="button" onclick="formShow()">Open form</button>
  <section id="form-section" class="disabled">
    <button id="form-section-hide" class="button" onclick="formHide()">
      <img src="../static/img/close-window.png" alt="" >
    </button>
    <form action="{% url 'users-list' %}" id="registration-form" class="disabled" method="POST">
      <h2>Sign up</h2>
      <p>Already have an account? 
        <a href="#" onclick="formChange()">Log in</a>
      </p>
      {% csrf_token %}
      {% render_form registration_serializer template_pack='rest_framework/vertical' %}
      <input type="submit" value="Sign Up">
    </form>
    <form action="{% url 'users-list' %}" id="autorization-form" method="POST">
      <h2>Sign in</h2>
      <p>Don't have an account yet? 
        <a href="#" onclick="formChange()">Create one</a>
      </p>
      {% csrf_token %}
      {% render_form registration_serializer template_pack='rest_framework/vertical' %}
      <input type="submit" value="Sign in">
    </form>
  </section>

  <div id="sidebar">
    <div id="sidebar-app" v-bind:class="{'sidebar-content': 1, 'bg-white': selectedPlace, 'bg-secondary': !selectedPlace}">

      <div v-if="promptVisible" class="d-flex flex-column justify-content-center align-items-center" style="height: 100%;">
        <img class="d-block select-place-prompt mb-4" src="{% static 'hand-pointer-regular.svg' %}" alt="Select place">
        <h4>Выберите место на карте</h4>
      </div>

      <div class="align-items-center justify-content-center d-flex" v-if="loading" style="height: 100%;">
        <div class="spinner-grow text-light" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <div class="place-description" v-if="selectedPlace">
        <div class="container">
          {% verbatim sidebar %}
          <div class="description-logo"></div>
          <h5 class="description-title" class="mb-3">{{ selectedPlace.title }}</h5>
          <p class="description-text" v-html="selectedPlace.description"></p>
          
          <div class="ratings">
            <div class="description-rating">
              <span class="rate-value">{{ selectedPlace.rating }}/5</span>
              <ul class="rate-icons stars">
                <template v-for="star in Math.round(selectedPlace.rating)">
                  <li class="description-rating-stars active"></li>
                </template>
                <template v-for="inactiveStar in 5" v-if="inactiveStar > Math.round(selectedPlace.rating)">
                  <li class="description-rating-stars"></li>
                </template>
              </ul>
              <p class="rating-category">rating review: <span id="description-rating-value">{{ selectedPlace.rating }}</span></p>
            </div>
            <div class="description-police-rate">
              <span class="rate-value">{{ selectedPlace.police_rating.charAt(0) }}/5</span>
              <ul class="rate-icons warnings">
                <template v-for="siren in parseInt(selectedPlace.police_rating.charAt(0))">
                  <li class="description-rating-warnings active"></li>
                </template>
                <template v-for="inactiveSiren in 5" v-if="inactiveSiren > parseInt(selectedPlace.police_rating.charAt(0))">
                  <li class="description-rating-warnings"></li>
                </template>
              </ul>
              <p class="rating-category">police rating: <span id="description-police-rate-value">{{ selectedPlace.police_rating }}</span></p>
            </div>
          </div>
          <hr>

          <ul class="description-contacts">
            <li><div class="icon-place"></div>
              <p>{{ selectedPlace.address }}</p>
            </li>
            <li>
              <div class="icon-time"></div>
              <p v-if="selectedPlace.opening_hours !== null && selectedPlace.closing_hours !== null">
                {{ selectedPlace.opening_hours.slice(0, -3) }} - {{ selectedPlace.closing_hours.slice(0, -3) }}
              </p>
              <p v-else>-</p>
            </li>
            <li>
              <div class="icon-price"></div>
              <p>¥{{ selectedPlace.average_price }}</p>
            </li>
            <li>
              <div class="icon-phone"></div>
              <p>13213238256</p>
            </li>
          </ul>

          <!-- <p class="description-category">{{ selectedPlace.category }}</p> -->
          <p class="description-address">{{ selectedPlace.address }}</p>
          <p class="description-address-pinyin">({{ selectedPlace.pinyin_address }})</p>
          {% endverbatim sidebar %}
        </div>
        

        <div id="place-photos" class="carousel slide" data-ride="carousel" data-interval="5000">
          <ol class="carousel-indicators">
            <template v-for="(img, index) in carouselImages" :key="img">
              <li v-on:click="handlePhotosClick(index)" v-bind:class="{active: index==0}"></li>
            </template>
          </ol>
          <div class="carousel-inner">
            <template v-for="(img, index) in carouselImages" :key="img">
              <div v-bind:class="{'carousel-item bg-light': 1, active: index==0}">
                <img v-bind:src="img" class="d-block w-100" v-bind:alt="selectedPlace.title">
              </div>
            </template>
          </div>
          <template v-if="carouselImages.length">
            <a class="carousel-control-prev" v-on:click="handlePhotosClick('prev')" role="button">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" v-on:click="handlePhotosClick('next')" role="button">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </template>
        </div>


        {% verbatim reviews %}
        <section id="reviews">
          <h2 class="average-mark">Average mark
            <span class="average-rating">{{ selectedPlace.rating }}/5</span>
          </h2>
          <div class="user-reviews">
            <template v-for="review in selectedPlace.reviews">
              <div class="review-card">
                <div class="container">
                  <div class="user-avatar"></div>
                  <div class="user-review">
                    <p class="name">{{ review.username }}</p>
                    <p class="text">{{ review.text }}</p>
                  </div>
                </div>
              </div>
            </template>            
          </div>
          <div class="reviews-controls clearfix">
            <button class="reviews-write">Write a review</button>
            <div class="reviews-pages">
              <a href="#">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">…</a>
            </div>
          </div>
        </section>
        {% endverbatim reviews %}
      </div>

    </div>
  </div>

  <div id="map"></div>

  <!-- Без них функционал не ломается -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  
  <!------------------------------------>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-providers/1.10.1/leaflet-providers.min.js" integrity="sha256-EV/ywRtxUOBICwOsLtPpYEONoBF6g+ShAcLX1Ts48GA=" crossorigin="anonymous"></script>

  <!-- Без них функционал не ломается -->
  <script src="https://unpkg.com/leaflet-control-custom@1.0.0/Leaflet.Control.Custom.js"></script>
  <!------------------------------------>
  <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/loglevel/1.6.8/loglevel.min.js" integrity="sha256-O/iFn3B3kEV/q5PPVW8TVpRhoywaK7NN4UjdnBO9DXo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js" integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@ansur/leaflet-pulse-icon@0.1.1/dist/L.Icon.Pulse.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.72.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>
  <script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>

  <script src="{% static 'js/leaflet-search.js' %}"></script>
  <script src="{% static 'js/leaflet-sidebar.js' %}"></script>
  <script src="../static/js/interface.js"></script>
  <script src="{% static 'js/base_old.js' %}"></script>
</body>
</html>
